body {
    font-family: Arial, sans-serif;
    background: rgb(94, 94, 94);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.task-list {
    background-color: #534f4f;
    border: 1px solid #ff9a9a;
    border-radius: 5px;
    padding: 8px;
    list-style: none;
}

.task {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #777272;
    margin: 5px 0;
    cursor: pointer;
}

.new-task {
    margin-top: 10px;
    text-align: center;
    align-items: center;
    
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #477396;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}
